html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  color: #343434;
  font-family: "Lucida Grande", "Tahoma", "Verdana", "Arial", sans-serif;
  font-size: 1em;
  margin: 0;
  overflow-x: hidden; }

.brand-light {
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
  background-image: url(/assets/logos/affco-logo-white.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 152px;
  height: 40px;
  margin: 5px auto 0; }

.brand-dark {
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
  background-image: url(/assets/logos/affco-logo-black.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 152px;
  height: 40px;
  margin: 5px auto 0; }

sup {
  vertical-align: top-0.02em;
  font-size: 0.5em; }

a {
  color: #63bc46; }
  a:hover {
    color: #f26429; }

.l-navbar-fixed-top {
  background: rgba(52, 52, 52, 0.95);
  position: fixed;
  width: 100%;
  z-index: 9999; }

header {
  background-color: #343434;
  color: #fff;
  text-transform: uppercase;
  padding: 120px 30px;
  transition: 300ms; }
  header h1 {
    font-size: 3em;
    margin: 0; }
  header .container {
    padding: 0 40px; }

.l-fullpage-header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.l-fullpage-header-content {
  color: #fff;
  padding: 15px 60px;
  text-shadow: 0 0 10px #343434;
  text-transform: uppercase; }
  .l-fullpage-header-content h1 {
    font-size: 3.75em;
    margin: 0; }
  .l-fullpage-header-content h2 {
    margin: 0 0 10px;
    font-weight: 300;
    font-style: italic;
    text-transform: none; }
  .l-fullpage-header-content a {
    text-decoration: none;
    color: #fff;
    white-space: nowrap;
    text-shadow: none;
    border: solid 1px #fff;
      border-radius: 5px;
    padding: 20px 40px;
    line-height: 80px;
    font-size: 1.125em;
    font-weight: 700;
    display: inline;
    margin-right: 15px;
    transition: 500ms; }
    .l-fullpage-header-content a:hover {
      color: #488933;
      background-color: #fff; }

footer {
  text-align: center;
  background: #343434;
  color: #fff;
  padding: 50px 0; }
  footer::after {
    clear: both;
    content: "";
    display: block; }
  footer .container {
    padding: 0 40px; }

section {
  padding: 30px 0; }

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 40px;
  box-sizing: border-box; }

article {
  -webkit-columns: 2 200px;
  -moz-columns: 2 200px;
  columns: 2 200px;
  -webkit-column-gap: 2em;
  -moz-column-gap: 2em;
  column-gap: 2em; }
  article p {
    margin: 0; }

.outer-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .outer-container::after {
    clear: both;
    content: "";
    display: block; }

.l-col-3 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .l-col-3:last-child {
    margin-right: 0; }
  .l-col-3 img {
    width: 100%; }

.l-col-6 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .l-col-6:last-child {
    margin-right: 0; }
  .l-col-6 img {
    width: 100%; }

.flex {
  display: flex; }

.flex-center {
  align-items: center; }

.flex-start {
  align-items: flex-start; }

.flex-end {
  align-items: flex-end; }

.flex-stretch {
  align-items: stretch; }

.flex-base {
  align-items: baseline; }

.just-around {
  justify-content: space-around; }

.just-between {
  justify-content: space-between; }

.just-center {
  justify-content: center; }

.just-start {
  justify-content: flex-start; }

.just-end {
  justify-content: flex-end; }

.flex-wrap {
  flex-wrap: wrap; }

.flex-wrap-reverse {
  flex-wrap: wrap-reverse; }

.flex-row {
  flex-direction: row; }

.flex-row-reverse {
  flex-direction: row-reverse; }

.flex-col {
  flex-direction: column; }

.flex-col-reverse {
  flex-direction: column-reverse; }

.flex-content-start {
  align-content: flex-start; }

.flex-content-center {
  align-content: center; }

.flex-content-end {
  align-content: flex-end; }

.flex-content-around {
  align-content: space-around; }

.flex-content-between {
  align-content: space-between; }

.flex-content-stretch {
  align-content: stretch; }

.bullseye {
  margin: auto; }

.flex-grow-1 {
  flex-grow: 1; }

.flex-grow-2 {
  flex-grow: 2; }

.flex-item-start {
  align-self: flex-start; }

.flex-item-end {
  align-self: flex-end; }

.flex-item-center {
  align-self: center; }

.flex-item-base {
  align-self: baseline; }

.flex-item-stretch {
  align-self: stretch; }

.l-inline {
  padding-left: 0; }
  .l-inline li {
    display: inline-block; }

.l-stack {
  padding-left: 0; }
  .l-stack li {
    display: block; }

.l-float-r {
  float: right; }
  .l-float-r li {
    margin-left: 20px; }

.l-float-l {
  float: left; }
  .l-float-l li {
    margin-right: 20px; }

.l-center li {
  margin: 0 10px; }

.l-gut-r {
  margin-right: 1.5em; }

.l-gut-l {
  margin-left: 1.5em; }

#main-nav {
  width: 80%;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 0.75em;
  line-height: 25px; }
  #main-nav a {
    text-decoration: none;
    transition: 500ms; }

#homepage-hero {
  background-image: url(/assets/heros/green.jpg);
  background-position: center bottom; }

.box {
  height: 32%;
  width: 32%;
  background: #fff;
  color: #343434;
  box-sizing: border-box;
  text-align: center;
  line-height: 200px; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea {
  position: relative;
  padding: 20px 40px;
  font-size: 1em;
  box-shadow: none;
  border-radius: 7px;
  border: solid 1px #777;
  color: #343434; }

input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover {
  border: solid 1px #63bc46;
  outline: none; }

input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus {
  box-shadow: 0 0 2px #63bc46; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  background-color: #f26429;
  font-size: 1em;
  padding: 20px 40px;
  border: solid 1px #f26429;
    border-radius: 7px;
  color: #fff; }

button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus,
button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
  background-color: #63bc46;
  border: solid 1px #63bc46;
  cursor: pointer;
  outline: none; }

button:active, input[type="button"]:active, input[type="reset"]:active, input[type="submit"]:active {
  outline: none;
  position: relative;
  top: 2px; }

.no-pad {
  padding: 0; }

.no-pad-sides {
  padding-left: 0;
  padding-right: 0; }

.max-width {
  max-width: 1200px; }

.white {
  background-color: #fff; }

.primary {
  background-color: #63bc46; }

.black {
  background-color: #000; }

.alt {
  background-color: #488933; }

.mid {
  background-color: #777; }

.light {
  background-color: #f1f1f1; }

.accent {
  background-color: #f26429; }

.dark {
  background-color: #343434; }

.transparent {
  background-color: transparent; }

.text-white {
  color: #fff; }

.text-primary {
  color: #63bc46; }

.text-black {
  color: #000; }

.text-alt {
  color: #488933; }

.text-mid {
  color: #777; }

.test-light {
  color: #f1f1f1; }

.text-accent {
  color: #f26429; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-just {
  text-align: justify; }

.text-no-shad {
  text-shadow: none; }

.img-responsive {
  width: 100%;
  height: auto; }

.opacity-hover-opaque {
  opacity: 0.8;
  transition: 500ms; }
  .opacity-hover-opaque:hover {
    opacity: 1; }

.opacity-hover-80 {
  opacity: 1;
  transition: 500ms; }
  .opacity-hover-80:hover {
    opacity: 0.8; }

/*# sourceMappingURL=app.css.map */
