// COMMON STYLES & LAYOUTS

.l-inline
  padding-left: 0
  li
    display: inline-block

.l-stack
  padding-left: 0
  li
    display: block

.l-float-r
  float: right
  li
    margin-left: 20px

.l-float-l
  float: left
  li
    margin-right: 20px

.l-center
  li
    margin: 0 10px

.l-gut-r
  margin-right: 1.5em

.l-gut-l
  margin-left: 1.5em
