// HEADER LAYOUTS

// HEADERS
header
  background:
    color: $dark
  color: $white
  text-align: center
  text-transform: uppercase
  padding: 120px 30px
  +transition(all 300ms)

.l-fullpage-header
  background:
    size: cover
    repeat: no-repeat
    position: center
    //attachment: fixed
  height: 100vh


// HEADERS CONTENT

.l-fullpage-header-content
  color: $white
  padding: 15px 60px
  text-shadow: 0 0 10px $dark
  text-transform: uppercase
  h1
    font-size: $base-h1 + 0.75
  h2
    margin: 0 0 10px
    font:
      weight: 300
      style: italic
    text-transform: none
  a
    text-decoration: none
    color: $white
    white-space: nowrap
    text-shadow: none
    border: solid 1px $white
      radius: 5px
    padding: 20px 40px
    line-height: 80px
    font:
      size: $base-size + 0.125
      weight: 700
    +transition(all 300ms)
    display: inline
    margin-right: 15px
    &:hover
      color: $alt
      background:
        color: $white
