// PADDING & MARGIN

.no-pad
  padding: 0

.no-pad-sides
  padding-left: 0
  padding-right: 0


// BACKGROUND COLORS

.white
  background:
    color: $white

.primary
  background:
    color: $primary

.black
  background:
    color: $black

.alt
  background:
    color: $alt

.mid
  background:
    color: $mid

.light
  background:
    color: $light

.accent
  background:
    color: $accent

.dark
  background:
    color: $dark

.transparent
  background:
    color: rgba(0,0,0,0)


// FONT STYLES

.text-white
  color: $white

.text-primary
  color: $primary

.text-black
  color: $black

.text-alt
  color: $alt

.text-mid
  color: $mid

.test-light
  color: $light

.text-accent
  color: $accent

.text-center
  text-align: center

.text-no-shad
  text-shadow: none

// IMAGE STYLES

.img-responsive
  width: 100%
  height: auto
