// MEDIA QUERIES

@media screen and (min-width:321px)
  .l-fullpage-header-content
    font-size: 65%


@media screen and (min-width:640px)
  .l-fullpage-header-content
    font-size: 120%
    a
      padding: 20px 40px
      font-size: 85%
