// MEDIA QUERIES

@media screen and (max-width:320px)
  .l-fullpage-header-content
    font-size: 55%

@media screen and (max-width:640px)
  .l-fullpage-header-content
    font-size: 65%

@media screen and (min-width:1921px)
  body
    font-size: $base-size * 1.2

@media screen and (min-width:2561px)
  body
    font-size: $base-size * 1.5

@media screen and (min-width:4000px)
  body
    font-size: $base-size * 2.5

@media screen and (min-width:7000px)
  body
    font-size: $base-size * 3.5
