// BASE STYLES

body
  color: $dark
  font-family: $helvetica
  font-size: $base-size
  margin: 0

.brand
  +hide-text
  background:
    image: url(/assets/logos/affco-logo-white.png)
    size: cover
    repeat: no-repeat
  width: 152px
  height: 40px
  float: left
  opacity: 0.8
  transition: 500ms
  &:hover
    opacity: 1

h1
  margin: 0

a
  color: $primary
  &:hover
    color: $accent
