// BASE STYLES

body
  color: $dark
  font-family: $lucida-grande
  font-size: $base-size
  margin: 0
  overflow-x: hidden

.brand
  +hide-text
  background:
    image: url(/assets/logos/affco-logo-white.png)
    size: cover
    repeat: no-repeat
  width: 152px
  height: 40px
  float: left
  opacity: 0.8
  +transition(all 300ms)
  &:hover
    opacity: 1

sup
  vertical-align: top - 2%
  font-size: 50%

h1
  margin: 0
  font-size: $base-h1

a
  color: $primary
  &:hover
    color: $accent
