// DISCOVER PAGE IMAGES

.discover-grid
  background:
    image: url(/assets/discover/discover-bg.jpg)
    size: contain
    position: bottom right

#term-1
  background:
    image: url(/assets/heros/green.jpg)
    position: center

#term-2
  background:
    image: url(/assets/heros/main.jpg)
    position: center
