// DISCOVER PAGE IMAGES

#discover-grid
  background:
    image: radial-gradient(transparentize($black, 0.4),transparentize($black, 0.4)), url(/assets/discover/discover-bg.jpg)
    size: contain
    position: bottom right
    repeat: no-repeat

#term-1
  background:
    image: radial-gradient(transparentize($termco, 0.2),transparentize($termco, 0.2)), url(/assets/discover/discover-term-life-insurance.jpg)
    position: center
    size: cover

#term-2
  background:
    image: url(/assets/discover/discover-term-life-insurance-1.jpg)
    position: center

#term-3
  background:
    image: url(/assets/discover/discover-term-life-insurance-2.jpg)
    position: center

#whole-1
  background:
    image: radial-gradient(transparentize($wholeco, 0.2),transparentize($wholeco, 0.2)), url(/assets/discover/discover-whole-life-insurance.jpg)
    position: center
    size: cover

#whole-2
  background:
    image: url(/assets/discover/discover-whole-life-insurance-1.jpg)
    position: center

#whole-3
  background:
    image: url(/assets/discover/discover-whole-life-insurance-2.jpg)
    position: center

#uni-1
  background:
    image: radial-gradient(transparentize($unico, 0.2),transparentize($unico, 0.2)), url(/assets/discover/discover-universal-life.jpg)
    position: center
    size: cover

#uni-2
  background:
    image: url(/assets/discover/discover-universal-life-insurance-1.jpg)
    position: center

#uni-3
  background:
    image: url(/assets/discover/discover-universal-life-insurance-2.jpg)
    position: center

#fin-1
  background:
    image: radial-gradient(transparentize($finco, 0.2),transparentize($finco, 0.2)), url(/assets/discover/discover-final-expense.jpg)
    position: center
    size: cover

#fin-2
  background:
    image: url(/assets/discover/discover-final-expense-1.jpg)
    position: center

#fin-3
  background:
    image: url(/assets/discover/discover-final-expense-2.jpg)
    position: center

#add-1
  background:
    image: radial-gradient(transparentize($addco, 0.2),transparentize($addco, 0.2)), url(/assets/discover/discover-accidental-death-dismemberment.jpg)
    position: center
    size: cover

#add-2
  background:
    image: url(/assets/discover/discover-accidental-death-dismemberment-1.jpg)
    position: center

#add-3
  background:
    image: url(/assets/discover/discover-accidental-death-dismemberment-2.jpg)
    position: center

#annu-1
  background:
    image: radial-gradient(transparentize($annuco, 0.2),transparentize($annuco, 0.2)), url(/assets/discover/discover-annuities.jpg)
    position: center
    size: cover

#annu-2
  background:
    image: url(/assets/discover/discover-annuities-1.jpg)
    position: center

#annu-3
  background:
    image: url(/assets/discover/discover-annuities-2.jpg)
    position: center

#dent-1
  background:
    image: radial-gradient(transparentize($dentco, 0.2),transparentize($dentco, 0.2)), url(/assets/discover/discover-dental-insurance.jpg)
    position: center
    size: cover

#dent-2
  background:
    image: url(/assets/discover/discover-dental-vision-1.jpg)
    position: center

#dent-3
  background:
    image: url(/assets/discover/discover-dental-vision-2.jpg)
    position: center

#dis-1
  background:
    image: radial-gradient(transparentize($disco, 0.2),transparentize($disco, 0.2)), url(/assets/discover/discover-disability-insurance.jpg)
    position: center
    size: cover

#dis-2
  background:
    image: url(/assets/discover/discover-disability-income-1.jpg)
    position: center

#dis-3
  background:
    image: url(/assets/discover/discover-disability-income-2.jpg)
    position: center

#stm-1
  background:
    image: radial-gradient(transparentize($stmco, 0.2),transparentize($stmco, 0.2)), url(/assets/discover/discover-short-term-medical-insurance.jpg)
    position: top
    size: cover

#stm-2
  background:
    image: url(/assets/discover/discover-short-term-medical-1.jpg)
    position: center

#stm-3
  background:
    image: url(/assets/discover/discover-short-term-medical-2.jpg)
    position: center

#homesec-1
  background:
    image: radial-gradient(transparentize($homeseco, 0.2),transparentize($homeseco, 0.2)), url(/assets/discover/discover-home-security.jpg)
    position: center
    size: cover

#homesec-2
  background:
    image: url(/assets/discover/discover-home-security-1.jpg)
    position: center

#homesec-3
  background:
    image: url(/assets/discover/discover-home-security-2.jpg)
    position: center

#med-1
  background:
    image: radial-gradient(transparentize($medco, 0.2),transparentize($medco, 0.2)), url(/assets/discover/discover-medical-cash-benefits.jpg)
    position: center
    size: cover

#med-2
  background:
    image: url(/assets/discover/discover-medical-cash-benefits-1.jpg)
    position: center

#med-3
  background:
    image: url(/assets/discover/discover-medical-cash-benefits-2.jpg)
    position: center

#pet-1
  background:
    image: radial-gradient(transparentize($petco, 0.2),transparentize($petco, 0.2)), url(/assets/discover/discover-pet-insurance.jpg)
    position: center
    size: cover

#pet-2
  background:
    image: url(/assets/discover/discover-pet-insurance-1.jpg)
    position: center

#pet-3
  background:
    image: url(/assets/discover/discover-pet-insurance-2.jpg)
    position: center

#save-1
  background:
    image: radial-gradient(transparentize($saveco, 0.2),transparentize($saveco, 0.2)), url(/assets/discover/discover-savings-plans.jpg)
    position: center
    size: cover

#save-2
  background:
    image: url(/assets/discover/discover-savings-plans-1.jpg)
    position: center

#save-3
  background:
    image: url(/assets/discover/discover-savings-plans-2.jpg)
    position: center

#msup-1
  background:
    image: radial-gradient(transparentize($msupco, 0.2),transparentize($msupco, 0.2)), url(/assets/discover/discover-medsup.jpg)
    position: center
    size: cover

#msup-2
  background:
    image: url(/assets/discover/discover-medsup-1.jpg)
    position: center

#msup-3
  background:
    image: url(/assets/discover/discover-medsup-2.jpg)
    position: center

#life-guide
  background:
    image: radial-gradient(transparentize($alt, 0.3),transparentize($alt, 0)), url(/assets/discover/life-insurance-guide.jpg)
    position: top
    size: cover
