// DISCOVER PAGE IMAGES

.discover-grid
  background:
    image: radial-gradient(transparentize($dark, 0.4),transparentize($dark, 0.4)), url(/assets/discover/discover-bg.jpg)
    size: contain
    position: bottom right
    repeat: no-repeat

#term-1
  background:
    image: radial-gradient(transparentize($termco, 0.1),transparentize($termco, 0.1)), url(/assets/discover/discover-term-life-insurance.jpg)
    position: center
    size: cover

#term-2
  background:
    image: url(/assets/heros/main.jpg)
    position: center

#term-3
  background:
    image: url(/assets/heros/green.jpg)
    position: center

#whole-1
  background:
    image: radial-gradient(transparentize($wholeco, 0.1),transparentize($wholeco, 0.1)), url(/assets/discover/discover-whole-life-insurance.jpg)
    position: center
    size: cover

#whole-2
  background:
    image: url(/assets/heros/main.jpg)
    position: center

#whole-3
  background:
    image: url(/assets/heros/green.jpg)
    position: center

#uni-1
  background:
    image: radial-gradient(transparentize($unico, 0.1),transparentize($unico, 0.1)), url(/assets/discover/discover-universal-life.jpg)
    position: center
    size: cover

#uni-2
  background:
    image: url(/assets/heros/main.jpg)
    position: center

#uni-3
  background:
    image: url(/assets/heros/green.jpg)
    position: center

#fin-1
  background:
    image: radial-gradient(transparentize($finco, 0.1),transparentize($finco, 0.1)), url(/assets/discover/discover-final-expense.jpg)
    position: center
    size: cover

#fin-2
  background:
    image: url(/assets/heros/main.jpg)
    position: center

#fin-3
  background:
    image: url(/assets/heros/green.jpg)
    position: center

#add-1
  background:
    image: radial-gradient(transparentize($addco, 0.1),transparentize($addco, 0.1)), url(/assets/discover/discover-accidental-death-dismemberment.jpg)
    position: center
    size: cover

#add-2
  background:
    image: url(/assets/heros/main.jpg)
    position: center

#add-3
  background:
    image: url(/assets/heros/green.jpg)
    position: center

#annu-1
  background:
    image: radial-gradient(transparentize($annuco, 0.1),transparentize($annuco, 0.1)), url(/assets/discover/discover-annuities.jpg)
    position: center
    size: cover

#annu-2
  background:
    image: url(/assets/heros/main.jpg)
    position: center

#annu-3
  background:
    image: url(/assets/heros/green.jpg)
    position: center

#dent-1
  background:
    image: radial-gradient(transparentize($dentco, 0.1),transparentize($dentco, 0.1)), url(/assets/discover/discover-dental-insurance.jpg)
    position: center
    size: cover

#dent-2
  background:
    image: url(/assets/heros/main.jpg)
    position: center

#dent-3
  background:
    image: url(/assets/heros/green.jpg)
    position: center

#dis-1
  background:
    image: radial-gradient(transparentize($disco, 0.1),transparentize($disco, 0.1)), url(/assets/discover/discover-disability-insurance.jpg)
    position: center
    size: cover

#dis-2
  background:
    image: url(/assets/heros/main.jpg)
    position: center

#dis-3
  background:
    image: url(/assets/heros/green.jpg)
    position: center

#stm-1
  background:
    image: radial-gradient(transparentize($stmco, 0.1),transparentize($stmco, 0.1)), url(/assets/discover/discover-short-term-medical-insurance.jpg)
    position: center
    size: cover

#stm-2
  background:
    image: url(/assets/heros/main.jpg)
    position: center

#stm-3
  background:
    image: url(/assets/heros/green.jpg)
    position: center

#homesec-1
  background:
    image: radial-gradient(transparentize($homeseco, 0.1),transparentize($homeseco, 0.1)), url(/assets/discover/discover-home-security.jpg)
    position: center
    size: cover

#homesec-2
  background:
    image: url(/assets/heros/main.jpg)
    position: center

#homesec-3
  background:
    image: url(/assets/heros/green.jpg)
    position: center

#med-1
  background:
    image: radial-gradient(transparentize($medco, 0.1),transparentize($medco, 0.1)), url(/assets/discover/discover-medical-cash-benefits.jpg)
    position: center
    size: cover

#med-2
  background:
    image: url(/assets/heros/main.jpg)
    position: center

#med-3
  background:
    image: url(/assets/heros/green.jpg)
    position: center

#pet-1
  background:
    image: radial-gradient(transparentize($petco, 0.1),transparentize($petco, 0.1)), url(/assets/discover/discover-pet-insurance.jpg)
    position: center
    size: cover

#pet-2
  background:
    image: url(/assets/heros/main.jpg)
    position: center

#pet-3
  background:
    image: url(/assets/heros/green.jpg)
    position: center

#save-1
  background:
    image: radial-gradient(transparentize($saveco, 0.1),transparentize($saveco, 0.1)), url(/assets/discover/discover-savings-plans.jpg)
    position: center
    size: cover

#save-2
  background:
    image: url(/assets/heros/main.jpg)
    position: center

#save-3
  background:
    image: url(/assets/heros/green.jpg)
    position: center

#msup-1
  background:
    image: radial-gradient(transparentize($msupco, 0.1),transparentize($msupco, 0.1)), url(/assets/discover/discover-medsup.jpg)
    position: center
    size: cover

#msup-2
  background:
    image: url(/assets/heros/main.jpg)
    position: center

#msup-3
  background:
    image: url(/assets/heros/green.jpg)
    position: center
