// HERO IMAGES

#homepage-hero
  background:
    image: url(/assets/heros/green.jpg)
    position: center bottom

#guide-hero
  background:
    image: radial-gradient(transparentize($dark, 0.65),transparentize($dark, 0.5)), url(/assets/heros/light.jpg)
    position: center bottom
