// NAVIGATION

.l-navbar
  width: 100%
  max-width: 97em
  margin: 0 auto
  padding: 0 1em
  box-sizing: border-box

.l-navlinks
  text-transform: uppercase
  font-size: $base-size - 0.25
  line-height: 25px
  a
    text-decoration: none
